.navbar-custom {
      background-color: #0D6EFD;

    }
    .navbar-brand{
      font-size: 20px;
      color: white;
    }
    .navbar-brand:hover{
      color: yellow;
    }
    .navbar-custom,
    .navbar-custom .nav-link {
      color: white;
      font-size: 16px;
    }

    .navbar-custom .nav-link:hover {
      color: yellow;
    }
    
.thumbnail{
    border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.products {
	background-color: #E6F9E6 !important;
	padding: 20px;
        max-height: 380px;
}

.jumbotron {
	background-color: #33cc33;
	color: #ffffff;
}

/*Handling the price tag*/
.price {
	color: red;
	font-weight: bold;
	font-size: 20px;
}

.productname {
	color: blue;
	font-size: 15px;
	font-family: Arial;
        font-weight: bold;
        padding: 5px;
}

.productinfo {
	color: black;
	font-size: 14px;
        padding: 5px;
}

.myform{
    margin-top: 25px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.user-profile{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Shopping Cart notification Batch */
*.icon-blue {
	color: #0088cc;
}

*.icon-grey {
	color: grey;
}

i {
	width: 50px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

.badge:after {
	content: attr(data-count);
	position: absolute;
	background: #ff6600;
	height: 1.5rem;
	top: 0.15rem;
	right: 0.15rem;
        bottom: 10px;
	width: 1.5rem;
	text-align: center;
	line-height: 1rem;
	font-size: 16px;
	border-radius: 50%;
	color: white;
	border: 1px solid #ff6600;
	font-family: sans-serif;
	font-weight: bold;
}

i.fa::before {
	font-size: 1rem !important;
}